#app {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
}

td,
th {
  padding: 1rem;
  vertical-align: middle;
}

.table-head {
  background-color: #efeaf1;
  display: inline-flexbox;
  color: #56595c;
  text-align: left;
}

.single-rowOdd {
  background-color: #f8f8f8;
  display: inline-flexbox;
  height: 20px;
  padding-right: 20px;
}

.single-rowEven {
  background-color: #ffffff;
  display: inline-flexbox;
  height: 20px;
  padding-right: 20px;
}

#highScore {
  color: #b2e273;
}

#modestScore {
  color: #42a9d6;
}

#lowScore {
  color: #fa7921;
}

#hyperlink {
  color: #42a9d6;
}
